<h1>Add New Meal</h1>
<%= form_for :meal, url: meals_path do |m| %>
 <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@meal.errors.count, "error") %> prohibited
        this meal from being saved:
      </h2>
      <ul>
        <% @meal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= m.label :name %><br>
    <%= m.text_field :name %>
  </p>
 
  <p>
    <%= m.label :description %><br>
    <%= m.text_area :description %>
  </p>
  
  <p>
    <%= m.label :price %> <br>
    <%= m.number_field :price, :class => 'text_field', :step => 0.01  %>
  </p>
 
  <p>
    <%= m.submit %>
  </p>
<% end %>